* {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
}

.back1 {
  background: url('../img/back1.png');
  width: 100%;
  height: 900px;
  background-size: 100% 100%;
  position: relative;
  float: left;
  background-repeat: no-repeat;
}

/* 导航栏 */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  /* border: 1px solid red; */
  background-color: transparent;
  color: black;
  font-family: '思源黑体 CN';
  position: relative;
  margin-top: 125px;
  margin-left: 6%;
  margin-right: 6%;
  font-size: 25px;
  font-weight: 700;
  /*吸顶效果*/
  position: sticky;
  position: -webkit-sticky;
  /*!*兼容 -webkit 内核的浏览器*!
  top:5px;                   !*必须设一个值，否则不生效*!*/
}

.headerleft {
  list-style: none;
  width: 160px;
  float: left;
}

.headerleft li::before {
  background-image: url('../img/pbac.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  content: '';
  width: 45px;
  height: 45px;
  vertical-align: middle;
}

.headermiddle {
  width: auto;
  float: left;
  border: none;
  background-color: transparent;
  z-index: 1001;
}

.btn {
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-family: '思源黑体 CN';
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.btn:hover {
  color: white;
  background: none;
}

.btn::before {
  color: #000000;
}

.btn:focus {
  border-radius: 16px;
  background: linear-gradient(135.00deg, rgb(37, 187, 191) -24.913%, rgb(37, 187, 191) -23.486%, rgb(31, 110, 174) 124.693%, rgb(31, 110, 174) 124.912%);
}

.btn:active {
  border-radius: 16px;
  background: linear-gradient(135.00deg, rgb(37, 187, 191) -24.913%, rgb(37, 187, 191) -23.486%, rgb(31, 110, 174) 124.693%, rgb(31, 110, 174) 124.912%);

}

/* 搜索框 */
.headerright {
  width: 184px;
  height: 300px;
  /* border: 1px solid black; */
  margin-top: 255px;
  float: left;
  z-index: 2001;

  position: relative;

  .sinput {
    width: 140px;
    height: 30px;
    margin-left: -80px;
    border: 3px solid rgb(31, 110, 174);
    border-radius: 20px;
  }

  .icon {
    display: inline-block;
    height: 22px;
    width: 22px;
    background-image: url('../../img/search.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 90px;
    z-index: 2;
  }
}

.bbody {
  height: 515px;
  margin-left: 8%;
  margin-right: 6%;
  position: relative;
  /* border: 1px solid black; */
  margin-top: 120px;
}

.bbodyleft {
  width: 50%;
  height: 412px;
  float: left;
  background: url('../img/bac16.png');
  border-radius: 10px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: -20px;
}
.bbodyright{
  width: 45%;
  height: 412px;
  float: left;
  margin-left: 5%;
  .title1 {
    float: left;
    margin-top: -20px;
    position: relative;
    width: 100%;
  }
  .btn1 {
    background: url(../img/btn1.png);
    width: 195.74px;
    height: 46.1px;
    float: left;
    font-family: 黑体;
    color: white;
    border: none;
    position: relative;
    margin-top: 300px;
    margin-left: -600px;
    font-size: 27px;
    font-weight: 400px;
  }
}


.rmenu {
  width: 183px;
  height: 512px;
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(114.70deg, rgb(15, 94, 157) 21.205%, rgb(15, 94, 157) 21.289%, rgb(13, 140, 143) 78.402%, rgb(13, 140, 143) 78.795%);
  z-index: 1001;

}

.rmenu ul li {
  list-style: none;
  color: rgb(255, 255, 255);
  font-family: 思源黑体 CN;
  font-size: 26.71px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
}

.rmenu ul {
  margin-top: 20px;
  padding-bottom: 60px;

}

.rmenu ul p {
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 15px;
}

.rmenu ul img {
  float: left;
  position: absolute;
  margin-left: -118px;
  background-size: auto 100%;
}

.underline {
  width: 131px;
  height: 2px;
  background: rgb(255, 255, 255);
  border-radius: 1px;
}

.classimg {
  background-color: white;
  width: 76%;
  height: 100%;
  float: left;
  margin-left: 180px;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 505;

  img {
    width: 100%;
    height: 100%;
  }
}

.back2 {
  width: 100%;
  height: 680px;
  background: url('../img/back2.png');
  position: relative;
  background-size: 100% 100%;  
  margin-top: 0px;  
  float: left;
  background-repeat: no-repeat;
}
.quoimg{
  float: left;
  margin-left: 130.33px;
  position: relative;
  margin-top: -180px;
}
.back3{
  width: 100%;
  height: 620px;
  background: url('../img/back3.png');
  position: relative;
  background-size: 100% 100%;
  margin-top: 0px;  
  float: left;
  background-repeat: no-repeat;
  z-index: 1001;

  .btngroup{
    margin-left: 10%;
    width: 60%;
    height: 60px;
    border-bottom: 5px solid rgb(186, 188, 204);
    float: left;
    position: relative;
    margin-top: 80px;
  }
  .group1{
    color:#75767f;
    font-size: 30px;
    font-weight: 500;
    float: left;
    width: 150px;
    border: none;
    margin-right: 20px;
  }
  .group1:active{
    background: linear-gradient(-13.50deg, rgb(37, 187, 191) 13.221%,rgb(37, 187, 191) 13.922%,rgb(31, 110, 174) 86.671%,rgb(31, 110, 174) 86.779%);;
    border-radius: 30px;
    color: white;    
  }
  .group1:focus{
    background: linear-gradient(-13.50deg, rgb(37, 187, 191) 13.221%,rgb(37, 187, 191) 13.922%,rgb(31, 110, 174) 86.671%,rgb(31, 110, 174) 86.779%);;
    border-radius: 30px;
    color: white;  
  }  
}
.gbody{
  width: 80%;
  height:580px;
  background:url('../img/radius3.png');
  margin-left: 10%;
  float: left;
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top:220px;
  margin-bottom: -80px;
  z-index: 2001;
  border-radius: 30px;
  background-color: white;
}
.back4{
  width: 100%;
  height: 880px;
  background: url('../img/back4.png');
  position: relative;
  background-size: 100% 100%;  
  float: left;
  background-repeat: no-repeat;
  z-index: 201;

  
.classbody{
  width: 80%;
  height: 600px;
  position: relative;
  float: left;
  background-color: transparent;
  margin-left: 10%;
  margin-top: 80px;

  .img1{
    float: left;
    position: relative;
    margin-top: 160px;
  }
  .bodybtn{
    background-color: white;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    position: relative;
    float: right;
    margin-top: 230px;
    font-size: 20px;
    border: none;
    font-weight: bold;
    color: #0f7297;
    font-family: 'SourceHanSansCN';

  }

}
.coursenew{
  width:100%;
  height: 500px;
  position: relative;
  float: left;
  background-color: transparent;
  margin-top: 40px;
}
.imagebac{
  width: 100%;
  height: 250px;
  background: url('../img/R-C.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: left;

}
.cimg{ 
    width: 30%;
    height: 100%;
    position: relative;
    float: left;  
    margin-right: 5%;
}
.courselist{
  width: 30%;
  height: 100px;
  float: left;
  margin-right: 5%;

  .p1{
    width: 100%;
    text-align: left;
    position: relative;
    margin-top: 20px;
    float: left;
    padding-left: 10px;
    font-size: 20px;
    color: white;
  }
  .p2{
    width: 100%;
    float: left;
    position: relative;
    padding-left: 10px;
    text-align: left;
    font-size: 40px;
    font-weight: 400;
    color: white;
  }
  .p3{
    color: white;
    font-size: 15px;
    text-align: left;
    float: left;
    padding-left: 10px;
    margin-top: 10px;
    word-break: normal;/**默认浏览器的换行方式*/

  }
}



}