.bg {
  position: absolute;
  width: 100%;
  height: auto;
  margin: 0;
  background: url('../../img/otherbac.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 0;  
}
/*导航栏*/
.header {
  width: 1200px;
  height: auto;
  margin-left: 160px;
  margin-top: 20px;

  .personbtn {
    width: 125px;
    height: 60px;
    margin-right: 40px;
  }

  .personbtn img {
    width: 60px;
    float: left;
    margin-left: 1px;
  }

  .personbtn a{
    color: #ffffff;
    float: right;
    margin-top: 17px;
    text-decoration: none;
  }

  .search {
    width: 250px;
    height: 40px;
    margin-top: 10px;
    float: right;
    margin-left: 50px;
  }
}
/* 新闻资讯主体 */
.newsmain{
  width: 1200px;
  height: 1000px;
  margin-left: 160px;
  margin-bottom: 40px;
  margin-top: 80px;
  position: relative;
}
/* 左侧 */
.newsleft{
  width: 580px;
  height: 1000px;
  float: left;
}
/* stock market focus */
.market-focus{
  width: 580px;
  height: 400px;
  float: left;
  position: relative;
  border: 2px solid #5c748e;
  position: relative;
  background-color: #113a7a;
}
.markethed{
  width: 530px;
  height: 60px;
  position: relative;
  margin-left: 25px;
}
.h1{
  position: relative;
  color: white;
  margin-bottom: 10px;
  text-align: left;
  float: left;
  padding-bottom: 10px;
  margin-top: 5px;
}
.p1{
  color: white;
  position: relative;
  float: left;
  text-align: left;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 10px;
}
.btn1{
  background: linear-gradient(95deg, #1f6eae, #25bbbf);
  border: none;
  border-radius: 0;
  color: white;
  font-weight: bold;
  position: relative;
  float: left;
  margin-top: 10px;
  margin-left: 215px;
}
.marketlist{
  width: 530px;
  height: 310px;
  margin-left: 25px;
  float: left;
  position: relative;
}
.listleft{
  width: 261px;
  height: 100%;
  position: relative;
  border: 2px solid #1a6f99;
  float: left;
  display: flex;
}
.tag{
  background-color: red;
  color: white;
  border: none;
  font-weight: bold;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  z-index: 3001;
}

.listleft ul li{
  color: white;
  text-align: left;
  position: relative;
  float: left;
  width: 210px;
  margin-left: -35px;
  margin-top: -5px;
  z-index: 2001;
}
.listright{
  width: 261px;
  height: 100%;
  position: relative;
  border: 2px solid #1a6f99;
  border-left: none;
  float: left;
}
.listright ul li{
  width: 210px;
  color: white;
  text-align: left;
  float: left;
  position: relative;
  margin-top: -5px;
  z-index: 2002;
}
/* lpo focus  */
.lpo-focus{
  width: 580px;
  height: 565px;
  float: left;
  border: 2px solid #5c748e;
  position: relative;
  margin-top: 30px;
  background-color: #113a7a;  
}
.underline{
  width: 130px;
  height: 5px;
  border-radius: 5px;  
  background:linear-gradient(95deg, #1f6eae, #25bbbf) ;
  position: absolute;
  float: left;
  margin-top: 59px;
}
.lpolists{
  width: 580px;
  height: 420px;
  margin-top: 25px;
  float: left;
}
.focuslist{
  width: 580px;
  height: 120px;
  border-bottom: 20px solid #175c8e;  
}
.lpoimg{
  height: 100px;
  float: left;
  margin-left: 25px;
  width: 130px;
  margin-top: 10px;
}
.h4{
  width: 400px;
  height: 20px;
  border: 1px solid white;
  margin-left: 10px;
  color: red;
  text-align: left;
  float: left;
  margin-top: 10px;
}
.p2{
  width: 400px;
  height: 80px;
  text-align: left;
  float: left;
  border: 1px solid white;
  color: white;
  margin-left: 10px;
  margin-top: -22px;
  font-size: 10px;
}
.lpobtn1{
  border: 2px solid white;
  color: white;
  background-color: transparent;
  font-size:10px;
  width: 30px;
  float: left;
  height: 10px;
  font-weight: bold;

}
.lpobtn2{
  border: 2px solid white;
  color: white;
  background-color: transparent;
  font-size:10px;
  float: left;
  width: 30px;
  height: 10px;
  font-weight: bold;
  left: 30px;
}
.page{
  background-color: transparent;
  border: 2px solid;
  width: 10px;
  float: left;
}

/* Hot headlines */
.hot-headlines{
  float: left;
  width: 580px;
  height: 1000px;
  border: 2px solid #5c748e;
  position: relative;
 margin-left: 35px;
 background-color: #113a7a;

}
.head{
  width: 540px;
  height: 110px;
  margin-left: 20px;
  float: left;
  border-bottom: 4px solid #2d81c4;
  
}
.hottitle{
  color: white;
  font-size: 40px;
  letter-spacing: 5px;
  position: relative;
  margin-top: -20px;
}
.hotlists{
  width: 540px;
  height: 820px;
  float: left;
  margin-left: 20px;
  /* border:1px solid white; */
  margin-top: 10px;
}
.hotlists ul li{
  list-style: circle;
  text-align: left;
  font-size: 20px;
}
.p3{
  color: red;
  font-weight: bold;
}
.p4{
  color: white;
  font-size: 15px;
}