@font-face {
  font-family: 思源黑体 Normal;
  font-weight: 300;
  src: url('../../font/SourceHanSansCN-Normal.ttf');
}

@font-face {
  font-family: 思源黑体 bold;
  font-weight: 600;
  src: url('../../font/SourceHanSansCN-Bold.ttf');
}
@media (max-width: 1919px) and (min-width: 768px) {
  html {
    zoom: 80%;
  }

  @-ms-viewport {
    /* width: 1920px; */
  }
}

@media screen and (max-width: 100%) {

  .dramain {
    /* margin-left: 50%;
    margin-right: 50%; */
  }
}
* {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
}
.dramain{
  background: url('../img/back1.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 1920px; */
  /* height: auto;
  float: left; */
  /* border: 1px solid black; */
  /* position: absolute;
  background-color: white;  
  left: 50%;
  transform: translate(-50%); */
}

.back1 {
  /* background: url('../img/back1.png');
  width: 100%;
  height: 900px;
  background-size: 100% 100%;
  position: relative;
  float: left;
  background-repeat: no-repeat; */
}

/* 导航栏 */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  /* border: 1px solid red; */
  background-color: transparent;
  color: black;
  font-family: '思源黑体 CN';
  position: relative;
  margin-top: 1vh;
  margin-left: 6%;
  margin-right: 6%;
  font-size: 25px;
  font-weight: 700;
  /*吸顶效果*/
  position: sticky;
  position: -webkit-sticky;
  /*!*兼容 -webkit 内核的浏览器*!
  top:5px;                   !*必须设一个值，否则不生效*!*/
}

.headerleft {
  list-style: none;
  width: 160px;
  float: left;
}

.headerleft li::before {
  background-image: url('../img/pbac.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  content: '';
  width: 45px;
  height: 45px;
  vertical-align: middle;
}

.headermiddle {
  width: auto;
  float: left;
  border: none;
  background-color: transparent;
  z-index: 1001;
}

.btn {
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-family: '思源黑体 CN';
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.btn:hover {
  color: white;
  background: none;
}

.btn::before {
  color: #000000;
}

.btn:focus {
  border-radius: 16px;
  background: linear-gradient(135.00deg, rgb(37, 187, 191) -24.913%, rgb(37, 187, 191) -23.486%, rgb(31, 110, 174) 124.693%, rgb(31, 110, 174) 124.912%);
}

.btn:active {
  border-radius: 16px;
  background: linear-gradient(135.00deg, rgb(37, 187, 191) -24.913%, rgb(37, 187, 191) -23.486%, rgb(31, 110, 174) 124.693%, rgb(31, 110, 174) 124.912%);

}

/* 搜索框 */
.headerright {
  width: 184px;
  height: 300px;
  /* border: 1px solid black; */
  margin-top: 255px;
  float: left;
  z-index: 2001;

  position: relative;

  .sinput {
    width: 140px;
    height: 30px;
    margin-left: -80px;
    border: 3px solid rgb(31, 110, 174);
    border-radius: 20px;
  }

  .icon {
    display: inline-block;
    height: 22px;
    width: 22px;
    background-image: url('../../img/search.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 90px;
    z-index: 2;
  }
}

.bbody {
  height: 535px;
  margin-left: 8%;
  margin-right: 6%;
  position: relative;
  /* border: 1px solid black; */
  margin-top: 240px;

  .pic {
    width: 198px;
    position: relative;
    float: left;
    margin-top: -120px;
    margin-left: 6%;
  }

  .investor-team {
    width: 90%;
    height: 1000px;
    z-index: 1000;
    position: relative;
    margin-left: 5%;
    background-color: rgba(189, 211, 228, 0.8);
    border-radius: 40px;
    margin-top: 50px;

    .team {
      width: 100%;
      height: 100%;
      position: relative;

      .team1 {
        background: url('../img/team.png');
        width: 20%;
        /* height: 35%; */
        float: left;
        position: relative;
        margin-left: 11%;
        margin-top: 8%;
        background-size: 100% 100%;
        background-repeat: no-repeat;

        .circle {
          width: 80%;
          position: relative;
          /* left: 50%; */
          transform: translate(-50%, -50%);

          .tit {
            color: white;
            position: relative;
            margin-top: 0%;
            text-align: center;
            margin-left: 120px;
            width: 100%;
            top: -40px;
          }
        }
        

        .txtinfo{

          position: relative;
          height: 280px;
          overflow: auto;
          margin-bottom: 85px;
          margin-top: -125px;

          
  
          .intro {
            color: white;
            position: relative;
            text-align: left;
            padding-left: 10%;
            margin-top: 5%;
            word-break: break-all;
            word-wrap: break-word;
          }
  
          
        }

      }
      .name {
        color: white;
        text-align: left;
        padding-left: 10%;
        /* margin-top: 20%; */
        bottom: 0;
        /* position: absolute;
        margin-bottom: 26px; */
      }

      .btn {
        border: 1px solid white;
        position: relative;
        float: right;
        font-size: 15px;
        color: white;
        right: 5%;
        /* top: -10%; */
        bottom: 40px;
        /* position: absolute; */
        /* margin-bottom: 26px; */
      }

      .btnleft {
        width: 40px;
        height: 40px;
        position: relative;
        float: left;
        left: 50px;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .btnright {
        width: 40px;
        height: 40px;
        position: relative;
        float: right;
        top: 50%;
        transform: translate(-50%, -50%);

      }
    }
  }
}

.back2 {
  width: 100%;
  height: 480px;
  background: url('../img/back2.png');
  position: relative;
  background-size: 100% 100%;
  margin-top: 200px;
  float: left;
  z-index: 201;
  background-repeat: no-repeat;
}

.back3 {
  width: 100%;
  height: 620px;
  background: url('../img/back3.png');
  position: relative;
  background-size: 100% 100%;
  margin-top: 0px;
  float: left;
  background-repeat: no-repeat;
  z-index: 1001;

  .btngroup {
    margin-left: 10%;
    width: 60%;
    height: 60px;
    border-bottom: 5px solid rgb(186, 188, 204);
    float: left;
    position: relative;
    margin-top: 80px;
  }

  .group1 {
    color: #75767f;
    font-size: 30px;
    font-weight: 500;
    float: left;
    width: 150px;
    border: none;
    margin-right: 20px;
  }

  .group1:active {
    background: linear-gradient(-13.50deg, rgb(37, 187, 191) 13.221%, rgb(37, 187, 191) 13.922%, rgb(31, 110, 174) 86.671%, rgb(31, 110, 174) 86.779%);
    ;
    border-radius: 30px;
    color: white;
  }

  .group1:focus {
    background: linear-gradient(-13.50deg, rgb(37, 187, 191) 13.221%, rgb(37, 187, 191) 13.922%, rgb(31, 110, 174) 86.671%, rgb(31, 110, 174) 86.779%);
    ;
    border-radius: 30px;
    color: white;
  }
}

.body4 {
  width: 80%;
  height: 520px;
  background-color: white;
  margin-left: 10%;
  float: left;
  position: relative;
  margin-top: 40px;
  z-index: 1000;
  border-radius: 30px;

}

.aibody {
  width: 100%;
  height: 100%;
  background-color: white;
  float: left;
  position: absolute;
  border-radius: 30px;

  .aileft {
    width: 60%;
    float: left;
    height: 100%;

    .botoom {
      width: 100%;
      height: 100%;
      background-color: white;
      padding: 20px;
      box-sizing: border-box;
      position: relative;

      .chat-content {
        width: 100%;
        height: 60%;
        overflow-y: scroll;
        padding: 20x;
        box-sizing: border-box;
        border-bottom: 3px solid rgb(162, 162, 164);

        &::-webkit-scrollbar {
          width: 0;
          /* Safari,Chrome 隐藏滚动条 */
          height: 0;
          /* Safari,Chrome 隐藏滚动条 */
          display: none;
          /* 移动端、pad 上Safari，Chrome，隐藏滚动条 */
        }

        .chat-wrapper {
          position: relative;
          word-break: break-all;

          .chat-friend {
            width: 100%;
            float: left;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .chat-text {
              max-width: 90%;
              padding: 20px;
              border-radius: 20px 20px 20px 5px;
              background-color: rgb(56, 60, 75);
              color: #fff;

              &:hover {
                background-color: rgb(39, 42, 55);
              }

              pre {
                white-space: break-spaces;
              }
            }

            .chat-img {
              img {
                width: 100px;
                height: 100px;
              }
            }

            .info-time {
              margin: 10px 0;
              color: black;
              font-size: 14px;

              img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                vertical-align: middle;
                margin-right: 10px;
              }

              span:last-child {
                color: rgb(101, 104, 115);
                margin-left: 10px;
                vertical-align: middle;
              }
            }
          }

          .chat-me {
            width: 100%;
            float: right;
            margin-bottom: 20px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;

            .chat-text {
              float: right;
              max-width: 90%;
              padding: 20px;
              border-radius: 20px 20px 5px 20px;
              background-color: rgb(29, 144, 245);
              color: #fff;

              &:hover {
                background-color: rgb(26, 129, 219);
              }
            }

            .chat-img {
              img {
                max-width: 300px;
                max-height: 200px;
                border-radius: 10px;
              }
            }

            .info-time {
              margin: 10px 0;
              color: black;
              font-size: 14px;
              display: flex;
              justify-content: flex-end;

              img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                vertical-align: middle;
                margin-left: 10px;
              }

              span {
                line-height: 30px;
              }

              span:first-child {
                color: rgb(101, 104, 115);
                margin-right: 10px;
                vertical-align: middle;
              }
            }
          }
        }
      }

      .chatInputs {
        width: 90%;
        height: 40%;
        position: absolute;
        bottom: 0;
        display: flex;
        float: left;
        margin-left: 0px;

        .boxinput {
          width: 80px;
          height: 40px;
          background-color: rgb(66, 70, 86);
          border-radius: 10px;
          position: absolute;
          cursor: pointer;
          font-size: 20px;
          color: white;
          font-weight: bold;
          left: 85%;
          bottom: 5%;




        }

        .emoji {
          transition: 0.3s;

          &:hover {
            background-color: rgb(46, 49, 61);
            border: 1px solid rgb(71, 73, 82);
          }
        }

        .inputs {
          width: 100%;
          height: 100%;
          background-color: white;
          border-radius: 0;
          padding: 10px;
          box-sizing: border-box;
          border: none;
          transition: 0.2s;
          font-size: 20px;
          color: black;
          font-weight: 100;
          margin: 0 0px;
          text-align: left;

          &:focus {
            outline: none;
          }
        }

        .send {
          background-color: rgb(253, 5, 5);
          border: 0;
          transition: 0.3s;
          box-shadow: 0px 0px 5px 0px rgba(0, 136, 255);

          &:hover {
            box-shadow: 0px 0px 10px 0px rgba(0, 136, 255);
          }
        }
      }
    }
  }

  .airight {
    background-color: rgb(213, 213, 213);
    width: 40%;
    height: 100%;
    float: right;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    .onlin-text {
      padding-top: 20px;
      padding-left: 10px;
      color: black;
      font-size: 30px;
    }
    .person-cards-wrapper {
      padding-left: 10px;
      height: 80%;
      margin-top: 20px;
      overflow: hidden;
      overflow-y: scroll;
      box-sizing: border-box;
      &::-webkit-scrollbar {
        width: 0; /* Safari,Chrome 隐藏滚动条 */
        height: 0; /* Safari,Chrome 隐藏滚动条 */
        display: none; /* 移动端、pad 上Safari，Chrome，隐藏滚动条 */
      }
    }

    h1 {
      text-align: left;
      padding-left: 10px;
      padding-top: 10px;
    }

    ul {
      width: 100%;
      height: 80%;
      overflow: scroll;

      &::-webkit-scrollbar {
        width: 0;
        
        height: 0;
        
        display: none;
        
      }
    }

    ul li {
      padding-top: 20px;
      list-style: none;
      text-align: left;
      font-size: 20px;
    }
  }  
}
/* 财经快讯 */
.newbody{
  width: 100%;
  height:100%;
  background:url('../img/radius3.png');
  float: left;
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;  
  z-index: 2001;
  border-radius: 30px;
  background-color: white;
}
.newbtngroup {
  width: 80%;
  position: relative;
  margin-left: 10%;
  height: 60px;
  padding-top: 10px;
  padding-top: 30px;
  float: left;
  border: 1px solid transparent;

  .nbtn {
    float: left;
    color: black;
    position: relative;
    width: 120px;
    height: 30px;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bolder;
    border: none;
    margin-right: 10%;

    .el-icon {
      color: transparent;
      margin-left: 30%;
      position: relative;
    }
  }

  .nbtn:focus {
    border: 2px solid rgb(45, 129, 196);

    .el-icon {
      color: rgb(45, 129, 196);
    }
  }

  .nbtn:active {
    border: 2px solid rgb(45, 129, 196);

    .el-icon {
      color: rgb(45, 129, 196);
    }
  }
  .refesh{
    color: white;
    width: 80px;
    height: 30px;
    font-size: 20px;
    font-weight: bolder;
    background: linear-gradient(-25.64deg, rgb(37, 187, 191) 22.225%,rgb(37, 187, 191) 22.754%,rgb(31, 110, 174) 77.694%,rgb(31, 110, 174) 77.775%);
    border: none;
    float: right;
  }  
}
/* 动态 */
.quicklist{
  width: 80%;
  height: 70%;
  position: absolute;
  margin-left: 10%;
  border: 3px solid #2D81C4;
  margin-top: 90px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
    /* Safari,Chrome 隐藏滚动条 */
    height: 0;
    /* Safari,Chrome 隐藏滚动条 */
    display: none;
    /* 移动端、pad 上Safari，Chrome，隐藏滚动条 */
  }
  .el-tag{
    background-color: red;
    color: white;
    font-weight: bolder;
    margin-right: 30px;
  }
  text{
    color: black;
    margin-right: 30px;

  }

}
.quicklist ul{
  height: 25%;
  width: 100%;
  text-align: left;
  margin: 0;
}
.quicklist ul li{
  list-style: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  width: 100%;
  height: 40%;
}
.quicklist ul li:hover{
  background: linear-gradient(180.00deg, rgb(31, 110, 174) 23.004%,rgb(31, 110, 174) 23.083%,rgb(37, 187, 191) 76.482%,rgb(37, 187, 191) 76.996%);
  opacity: 0.35;

}

.back4 {
  width: 100%;
  height: 880px;
  background: url('../img/back4.png');
  position: relative;
  background-size: 100% 100%;
  float: left;
  background-repeat: no-repeat;
  z-index: 201;


  .classbody {
    width: 80%;
    height: 600px;
    position: relative;
    float: left;
    background-color: transparent;
    margin-left: 10%;
    margin-top: 80px;

    .img1 {
      float: left;
      position: relative;
      margin-top: 160px;
    }

    .bodybtn {
      background-color: white;
      border-radius: 10px;
      width: 80px;
      height: 40px;
      position: relative;
      float: right;
      margin-top: 230px;
      font-size: 20px;
      border: none;
      font-weight: bold;
      color: #0f7297;
      font-family: 'SourceHanSansCN';

    }

  }

  .coursenew {
    width: 100%;
    height: 500px;
    position: relative;
    float: left;
    background-color: transparent;
    margin-top: 40px;
  }

  .imagebac {
    width: 100%;
    height: 250px;
    background: url('../img/R-C.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    float: left;

  }

  .cimg {
    width: 30%;
    height: 100%;
    position: relative;
    float: left;
    margin-right: 5%;
  }

  .courselist {
    width: 30%;
    height: 100px;
    float: left;
    margin-right: 5%;

    .p1 {
      width: 100%;
      text-align: left;
      position: relative;
      margin-top: 20px;
      float: left;
      padding-left: 10px;
      font-size: 20px;
      color: white;
    }

    .p2 {
      width: 100%;
      float: left;
      position: relative;
      padding-left: 10px;
      text-align: left;
      font-size: 40px;
      font-weight: 400;
      color: white;
    }

    .p3 {
      color: white;
      font-size: 15px;
      text-align: left;
      float: left;
      padding-left: 10px;
      margin-top: 10px;
      word-break: normal;
      /**默认浏览器的换行方式*/

    }
  }

}