@font-face {
    font-family: 思源黑体 Normal;
    font-weight: 300;
    src: url('../../font/SourceHanSansCN-Normal.ttf');
}

@font-face {
    font-family: 思源黑体 bold;
    font-weight: 600;
    src: url('../../font/SourceHanSansCN-Bold.ttf');
}

@media (max-width: 1919px) and (min-width: 768px) {
    html {
        zoom: 80%;
    }

    @-ms-viewport {
        width: 1920px;
    }
}

@media screen and (max-width: 100%) {

    .loginmain {
        margin-left: 50%;
        margin-right: 50%;
    }
}

* {
    margin: 0;
    padding: 0;
    background-color: white;

}

.loginmain {
    width: 1920px;
    height: auto;
    float: left;
    /* border: 1px solid black; */
    position: absolute;
    background-color: white;
    left: 50%;
    transform: translate(-50%);
}

.back1 {
    width: 1920px;
    height: 900px;
    background: url('../img/back1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 0;
    position: absolute;


}

.body {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    /* border: 1px solid black; */
    margin-top: 5%;
    position: relative;
    background-color: transparent;
}

.head {
    width: 80%;
    height: 8%;
    margin-left: 12%;
    /* border: 1px solid; */
    position: relative;
    margin-top: 2vh;
    text-align: left;
    background-color: transparent;

    .leftline {
        height: 100%;
        width: 6px;
        position: relative;
        background: url('../img/decorate.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 3px;
        float: left;
    }

    h1 {
        background-color: transparent;
        float: left;
        margin-left: 30px;
        font-family: 思源黑体 bold;
        font-weight: 800;
        font-size: 40px;
    }
}

.bodyleft {
    width: 50%;
    height: 90%;
    /* border: 1px solid; */
    position: relative;
    float: left;
    margin-top: 1%;
    background: url('../img/bac1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    h3 {
        background-color: transparent;
        font-family: 思源黑体 bold;
        color: black;
        text-align: left;
        font-size: 30px;
        margin-top: 5%;
        margin-left: 20%;
    }

    .img {
        float: left;
        position: relative;
        margin-top: 10%;
        width: 60%;
        height: 40%;
        background: url('../img/bac2.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-left: 20%;
    }
}

.btngroup {
    margin-top: 10%;
    width: 80%;
    height: 10%;
    margin-left: 15%;
    background-color: transparent;

    .btn {
        background-color: rgba(26, 108, 173, 0.4);
        width: 40%;
        height: 100%;
        position: relative;
        margin-right: 6%;
        color: white;
        float: left;
        border: none;
        border-radius: 5px;
        margin-top: 10%;
        font-family: 思源黑体 bold;
        font-size: 1.25rem;

    }
}

.bodyright {
    width: 45%;
    height: 90%;
    /* border: 1px solid; */
    position: relative;
    float: right;
    margin-top: 1%;
    background: url('../img/bac3.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .btn1 {
        float: left;
        border: none;
        background-color: transparent;
        font-family: 思源黑体 bold;
        color: white;
        font-size: 1.25rem;
        margin-right: 10%;
        position: relative;

        .line {
            width: 70%;
            height: 6px;
            background-color: rgb(36, 171, 188);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            position: relative;
            margin-left: 15%;
            margin-top: 10px;
            border-radius: 3px;
        }

    }
}

.login {
    width: 80%;
    height: 50%;
    float: left;
    position: absolute;
    /* border: 1px solid; */
    margin-left: 10%;
    background-color: transparent;

    .el-input {
        background-color: transparent !important;
        border: 3px solid white !important;
        border-radius: 5px;
        color: white !important;
        font-family: 思源黑体 Normal;
        width: 100%;
        height: 20%;
        margin-bottom: 5%;
        --el-input-bg-color: transparent;
        --el-input-text-color: white;

        .el-input_inner {
            border: none;
            color: white !important;
            background-color: transparent !important;
        }

        .el-input__icon {
            background-color: transparent !important;
        }

    }

    .check {
        width: 100%;
        height: 20px;
        /* border: 1px solid; */
        position: relative;
        float: left;
        margin-top: 10px;
        background-color: transparent;
        text-align: left;
        font-family: 思源黑体 bold;

        .box {
            width: 1.23rem;
            height: 1.23rem;
            float: left;
            margin-right: 10px;
        }

        li {
            background: transparent;
            list-style: none;
            width: auto;
            float: left;
            font-size: 1.1rem;
        }

        .dec {
            color: #FF5501;
        }

        .dec1 {
            float: right;
        }

    }

    .loginbtn {
        background-color: #FF5501;
        width: 60%;
        height: 15%;
        color: white;
        font-family: 思源黑体 bold;
        font-size: 1.3rem;
        margin-top: 20px;
        border: none;
        border-radius: 32.49px;
    }


}

.other {
    width: 80%;
    height: 15%;
    position: relative;
    float: left;
    margin-left: 10%;
    background: transparent;
    /* border: 1px solid; */
    margin-top: 55%;

    p {
        color: white;
        background-color: transparent;
        font-family: 思源黑体 Normal;
        margin-bottom: 10px;
    }

    .imggroup {
        width: 70%;
        height: auto;
        left: 50%;
        position: relative;
        transform: translate(-50%, -50%);

        .img {
            background-color: transparent;
            width: 50px;
            height: 50px;
            border: 2px solid white;
            border-radius: 10px;
            float: left;
            margin-right: 10%;
            margin-left: 5%;

            img {
                background-color: transparent;
                vertical-align: middle;
                margin-top: 5px;

            }

        }
    }
}

.notelogin {
    width: 80%;
    height: 50%;
    float: left;
    position: absolute;
    /* border: 1px solid; */
    margin-left: 10%;
    background-color: transparent;

    .el-input {
        background-color: transparent !important;
        border: 3px solid white !important;
        border-radius: 5px;
        color: white !important;
        font-family: 思源黑体 Normal;
        width: 100%;
        height: 20%;
        margin-bottom: 5%;
        --el-input-bg-color: transparent;
        --el-input-text-color: white;

        .el-input_inner {
            border: none;
            color: white !important;
            background-color: transparent !important;
        }

        .el-input__icon {
            background-color: transparent !important;
        }

        .el-select {
            background-color: transparent !important;
        }

    }

    .check {
        width: 100%;
        height: 20px;
        /* border: 1px solid; */
        position: relative;
        float: left;
        margin-top: 10px;
        background-color: transparent;
        text-align: left;
        font-family: 思源黑体 bold;

        .box {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 10px;
        }

        li {
            background: transparent;
            list-style: none;
            width: auto;
            float: left;
        }

        .dec {
            color: #FF5501;
        }

        .dec1 {
            float: right;
        }

        p {
            background-color: transparent;
            text-align: center;
            font-family: 思源黑体 bold;
            color: white;
        }

    }

    .loginbtn {
        background-color: #FF5501;
        width: 60%;
        height: 15%;
        color: white;
        font-family: 思源黑体 bold;
        font-size: 25px;
        margin-top: 20px;
        border: none;
        border-radius: 32.49px;
    }
}