.bg {
  position: absolute;
  width: 1480px;
  height: auto;
  margin: 0;
  background: url(../../img/otherbac.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 0;

  /*导航栏*/
  .header {
    width: 1200px;
    height: auto;
    margin-left: 160px;
    margin-top: 20px;

    .personbtn {
      width: 125px;
      height: 60px;
      margin-right: 40px;
    }

    .personbtn img {
      width: 60px;
      float: left;
      margin-left: 1px;
    }

    .personbtn p {
      color: #ffffff;
      float: right;
      margin-top: 17px;
    }

    .search {
      width: 250px;
      height: 40px;
      margin-top: 10px;
      float: right;
      margin-left: 50px;
    }
  }

  /* 视频播放器和基础知识 */
  .main {
    width: auto;
    height: auto;
    display: flex;
    margin-top: 60px;
    margin-left: 160px;
    margin-bottom: 30px;

    .video-and-knowledge {
      width: 800px;
      height: 1200px;
      /* border: 1px solid white; */
      display: flex;

      .video {
        width: 800px;
        height: auto;

        /* 标题 */
        .headline {
          width: 800px;
          height: 110px;
          /* border: 1px solid white; */
          text-align: left;
          display: flex;

          .tit {
            font-size: 40px;
            color: white;
            font-weight: bolder;
            border-left: 4px solid;
            border-radius: 10px;
            border-image: linear-gradient(to bottom, #1f6eae, #25bbbf)1;
            padding-left: 10px;
            float: left;
          }

          .vid {
            color: white;
            margin-left: 8px;
            margin-top: 40px;
          }

        }

        /* 播放器 */
        .player {
          width: 800px;
          height: 500px;
          margin-top: 20px;


        }

        /* 基础知识 */
        .knowledge {
          width: auto;
          height: 500px;
          margin-left: 17px;
          margin-right: 17px;
          margin-bottom: 20px;
          border: 1px solid #848b9e;
          background-color: #113978;
          position: relative;

          .title {
            margin-top: 20px;
            height: 100px;
            width: auto;
            border-bottom: 5px solid #2185b3;
            margin-left: 20px;
            margin-right: 20px;

            .tit {
              color: white;
              font-weight: bolder;
              font-size: 40px;
              margin-top: -20px;

            }

          }

          /*知识列表*/
          .list {
            width: auto;
            height: 330px;
            border: 2px solid #185393;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;
            background-color: transparent;
            text-align: left;

          }

          .list ul li {
            color: white;
            font-size: 25px;
            font-weight: bold;
            list-style: none;
            list-style-image: url('../img/circle.png');
            padding: 10px;
            margin-left: 10px;
          }
        }
      }

    }
    .popular-video{
      float: right;
      width: auto;
      height: 1200px;
      margin-left: 30px;
      margin-right: 0;
      /* border: 1px solid #848b9e; */

       /* 标题 */
       .headline {
        width: 400px;
        height: 110px;
        /* border: 1px solid white; */
        text-align: left;
        display: flex;

        .tit {
          font-size: 40px;
          color: white;
          font-weight: bolder;
          border-left: 4px solid;
          border-radius: 10px;
          border-image: linear-gradient(to bottom, #1f6eae, #25bbbf)1;
          padding-left: 10px;
          float: left;
        }

        .vid {
          color: white;
          margin-left: 8px;
          margin-top: 40px;
        }

      }
      /* 视频列表 */
      .video-list{
        width: 400px;
        height: 1000px;
        margin-top: 20px;
        border: 1px solid #848b9e;
        background-color: #113978;
        text-align: left; 
        color: white;    
        

        
      }
      .video-list ul li{
        list-style: none;

      }
      .p1{
        color: white;
      }
      .p2{
        color: #a0b2cd;
      }
      
    }

  }


}